<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MovieBot</title>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class=""></i> Movie Recomender and Sentiment Analysis Chatbot <i class=""></i>
      </div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url({{url_for('static', filename='bot.jpg')}})"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">MovieBot</div>
            
          </div>

          <div class="msg-text">
            Hi, welcome to MovieBot! I can help you to find some movie to watch or I can help you to find what people are saying about a movie😄
          </div>
        </div>
      </div>

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>

    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get(".msger-chat");
    var FLAG_NOTIFY = 0;
    var print_flag = 0;
    var control_flag = 0;
    // Icons made by Freepik from www.flaticon.com
    const BOT_IMG = "{{url_for('static', filename='bot.jpg')}}";
    const PERSON_IMG = "{{url_for('static', filename='user.jpg')}}";
    const BOT_NAME = "MovieBot";
    const PERSON_NAME = "User";

    msgerForm.addEventListener("submit", event => {
      event.preventDefault();
      const msgText = msgerInput.value;
      if (!msgText) return;
    
      appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
      msgerInput.value = "";
      botResponse(msgText);     
    });

    function appendMessage(name, img, side, text) {
      // Print sentiment results
      if (print_flag == 1 && side =="left"){     
      const msgHTML1 = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>

  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      <div class="msg-info-time">${formatDate(new Date())}</div>
    </div>
    <div class="msg-text">${text}</div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML1);
      msgerChat.scrollTop += 500;
      
      const msgHTML2 = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>

  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      <div class="msg-info-time">${formatDate(new Date())}</div>
    </div>
    <div class="msg-text">
        <img id="img" src="{{url_for('static', filename='sentiment_graph.jpg')}}">
    </div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML2);
      msgerChat.scrollTop += 2000;
      }
      
      else{
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>

  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      <div class="msg-info-time">${formatDate(new Date())}</div>
    </div>
    <div class="msg-text">${text}</div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
      }
    }

    function botResponse(rawText) {

      // Bot Response
      $.get("/get", { msg: rawText }).done(function (data) {
        console.log(rawText);
        console.log(data);
        const msgText = data["message"];
        print_flag = data["print_flag"];
        control_flag = data["control_flag"];
        if (print_flag == 2){
        for(let i = 0; i < msgText.length; i++){
        appendMessage(BOT_NAME, BOT_IMG, "left", msgText[i]);
        }
        }
        else{
        appendMessage(BOT_NAME, BOT_IMG, "left", msgText);
        }
        
        if (control_flag == 1){ 
        botResponse("NULL");
        }

      });
      

    }


    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();

      return `${h.slice(-2)}:${m.slice(-2)}`;
    }



  </script>

</body>

</html>